presidio-analyzer[transformers]
presidio-analyzer[stanza]
presidio-anonymizer
streamlit
streamlit-tags
pandas
python-dotenv
st-annotated-text
torch
flair
openai
watchdog
python-docx
PyPDF2
#azure-ai-textanalytics